body{
  /*background-color: #0c24cf;*/
}
.home{
  width: 600px; 
}
.homesignature{
  margin-left: 35px;
}
.homesquare{
  margin: 20px;
  width: 250px;
  height: 250px;
  float: right;
}
.clearfix{
  display:block;
  clear:both;
}
.page{
	width: 100%;
	min-height: 800px;
	margin-bottom: 50px;
}
.padding75{
  padding: 75px;
}
.outline{
	border: 1px solid black;
}
.center{
	margin: auto;
}
.resume{
  margin-top: 50px;
  width: 750px;
}
.resume li{
  margin-left: 46px;
}
.marginBottom10{
  margin-bottom: 10px;
}
.spacer36{
  height: 36px;
}
.spacer24{
  height: 24px;
}
.spacer16{
  height: 16px;
}
.spacer10{
  height: 10px;
}