<div class="row">
  <div class="eight mobile-four columns offset-by-one homebox stripe-2-2-gray" ><span class="homesignature bold stripe-1-2-gray" ><%= copy.johnwaggener %></span></div>
</div>
<div class="row">
  <div class="eight columns offset-by-one" >
    <div class="contactbox" >
      <span class="homecontact" ><a href="mailto:john.waggener@gmail.com?subject=" <%= copy.mailsubject %> "><%= copy.email %></a><%= " "%><span class="nowrap"><%= copy.phone %></span></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="eight columns offset-by-one introbox stripe-2-4-dark-gray" ><span class="homeintro stripe-1-3-light-gray"><%= copy.intro %><span></div>
</div>
<div class="row">
  <div class="eight columns offset-by-one homebox stripe-2-2-gray" ><span class="homelink stripe-1-2-gray"><a href="" ><%= copy.resume %></a></span></div>
</div>
<div class="row">
  <div class="eight columns offset-by-one homebox stripe-2-2-gray" ><span class="homelink stripe-1-2-gray"><a href="" ><%= copy.links %></a></span></div>
</div>
