<pre>
  John Waggener, Computer Programmer
322 Peters St, Atlanta, GA 30313
678-592-2650
john.waggener@gmail.com
________________








Programs and Languages


JavaScript, jQuery, MV*, Backbone, Spine, Sencha
HTML, HAML, CSS, SASS
ActionScript 3.0, ActionScript 2.0
Flex 2, 3, & 4, Flash Builder, Flash CS4, PureMVC, Cairngorm, Flash Frameworks
XML Web Services, SOAP, RESTful, data feeds
MySQL, SQLite
Photoshop, Illustrator
Other interests - C++ OpenFrameworks, Ruby on Rails, Painting, Sculpture


Education


B.A. Art History, Oglethorpe University, Atlanta, GA, 2000
B.F.A. Multimedia Design, The Atlanta College of Art, Atlanta, GA, 2000


Work Experience


Senior Member of Technical Staff at Oracle Corporation
July 2012 - Current


Senior UI Developer at Vitrue
September 2011 - July 2012


Senior Developer at Moxie Interactive
November, 2009 - Current


Software Engineer at Multicast Media, now KIT Digital
September, 2008 - November, 2009


Flash Developer at Vitrue
February, 2008 - August, 2008


Multimedia Developer, Sr. at Emory University
2003-2008


Multimedia Developer at Hallman Interactive Studios
2002


Lingo/ActionScript Programmer at Monumental Interactive
2001


Lingo Programmer at Aquent
2000


Intern Railroad Earth Studios
2000


Client List (abbreviated)


McDonalds, Clear Channel, Verizon, Coca-Cola, Garnier, NFL, FIFA, Turner, Turner South, Cartoon Network, UTI, Intel, Georgia Pacific, General Electric, TheKnot.com, TheNest.com, Delta, The Gospel Channel, Hartmann Studios, Fruitcake Productions, Emory University, Emory Alumni Association, Latin American and Caribbean Studies,  The Center for Arabic Studies Abroad, The Emory College Language Center, The Centers for Educational Technologies at Emory




Awards and Honors 


Special Lecturer, "iPods in Higher Education in America", The International School for Chinese Studies, Shaanxi Normal University, Xi'an, China, November, 2007


Award winner, Society of Children's Book Writers and Illustrators Annual Writing and Illustrating Contest, Southeastern Division, October 2007


Presenter, "Arabic Voices: Video in Language Application Design", Middle Eastern Studies Conference, Emory University, Atlanta, GA, 2002


Art Show, “Dirty Sunshine, Paintings and Mixed Media” at Cornbred Gallery, 
October 2010


Art Show, “Art Papers Annual Art Auction”, Mason Murer Fine Art, 
February 2008 and February 2010


Art Show, “Night Visions: Suburban Dream”, Savannah Art Gallery, June 2006




Professional Associations


Association for Computing Machinery


AIGA (American Institute for Graphic Arts)


Society of Children's Book Authors and Illustrators
</pre>