<div >
  <a href="/downloads/john_waggener.pdf" target="_blank" >Download</a>
</div>
<div class="page outline" >
  <div class="padding75" >
    <b>John Waggener</b>, Computer Programmer<br/>
    322 Peters St, Atlanta, GA 30313<br/>
    678-592-2650<br/>
    <a href="mailto:john.waggener@gmail.com">john.waggener@gmail.com</a>
    <hr>
    <br class="spacer36" />
    <h2>Programs and Languages</h2>
    <br />
    <ul>
      <li>JavaScript, jQuery, MV*, Backbone, Spine, Sencha</li>
      <li>HTML, HAML, CSS, SASS</li>
      <li>ActionScript 3.0, ActionScript 2.0</li>
      <li>Flex 2, 3, & 4, Flash Builder, Flash CS4, PureMVC, Cairngorm, Flash Frameworks</li>
      <li>XML Web Services, SOAP, RESTful, data feeds</li>
      <li>MySQL, SQLite</li>
      <li>Photoshop, Illustrator</li>
      <li>Other interests - Meteor.js, Responsive Design, Painting, Sculpture, Art History</li>
    </ul>
    <br class="spacer24" >
    <h2>Education</h2>
    <br class="spacer10">
    <ul>
      <li>B.A. Art History, Oglethorpe University, Atlanta, GA, 2000</li>
      <li>B.F.A. Multimedia Design, The Atlanta College of Art, Atlanta, GA, 2000</li>
    </ul>
    <br class="spacer24" >
    <h2>Work Experience</h2>
    <br class="spacer10">
    <ul>
      <li class="marginBottom10">Senior Member of Technical Staff at Oracle Corporation<br/>
      July 2012 - Current</li>
      <li class="marginBottom10" >Senior UI Developer at Vitrue<br/>
      September 2011 - July 2012</li>
      <li class="marginBottom10" >Senior Developer at Moxie Interactive<br/>
      November, 2009 - Current</li>
      <li class="marginBottom10" >Software Engineer at Multicast Media, now KIT Digital<br/>
      September, 2008 - November, 2009</li>
      <li class="marginBottom10" >Flash Developer at Vitrue<br/>
      February, 2008 - August, 2008</li>
      <li class="marginBottom10" >Multimedia Developer, Sr. at Emory University<br/>
      2003-2008</li>
      <li class="marginBottom10" >Multimedia Developer at Hallman Interactive Studios<br/>
      2002</li>
      
    </ul>
  </div>
</div>
<div class="page outline" >
  <div class="padding75" >
    <br class="spacer24" >
    <h2>Work Experience continued</h2>
    <br class="spacer24" />
    <ul>
      <li class="marginBottom10" >Lingo/ActionScript Programmer at Monumental Interactive<br/>
      2001</li>
      <li class="marginBottom10" >Lingo Programmer at Aquent<br/>
      2000</li>
      <li class="marginBottom10" >Intern Railroad Earth Studios<br/>
      2000</li>
    </ul>
    <br class="spacer24" >
    <h2>Client List (abbreviated)</h2>
    <br class="spacer24" />
    <p>McDonalds, Clear Channel, Verizon, Coca-Cola, Garnier, NFL, FIFA, Turner, Turner South, Cartoon Network, UTI, Intel, Georgia Pacific, General Electric, TheKnot.com, TheNest.com, Delta, The Gospel Channel, Hartmann Studios, Fruitcake Productions, Emory University, Emory Alumni Association, Latin American and Caribbean Studies,  The Center for Arabic Studies Abroad, The Emory College Language Center, The Centers for Educational Technologies at Emory</p>
    <br class="spacer24" >
    <h2>Awards and Honors</h2>
    <br class="spacer10" />
    <ul>
      <li class="marginBottom10" >Special Lecturer, "iPods in Higher Education in America", The International School for Chinese Studies, Shaanxi Normal University, Xi'an, China, November, 2007</li>
      <li class="marginBottom10" >Award winner, Society of Children's Book Writers and Illustrators Annual Writing and Illustrating Contest, Southeastern Division, October 2007</li>
      <li class="marginBottom10" >Presenter, "Arabic Voices: Video in Language Application Design", Middle Eastern Studies Conference, Emory University, Atlanta, GA, 2002</li>
      <li class="marginBottom10" >Art Show, “Dirty Sunshine, Paintings and Mixed Media” at Cornbred Gallery, 
      October 2010</li>
      <li class="marginBottom10" >Art Show, “Art Papers Annual Art Auction”, Mason Murer Fine Art, 
      February 2008 and February 2010</li>
      <li class="marginBottom10" >Art Show, “Night Visions: Suburban Dream”, Savannah Art Gallery, June 2006</li>
    </ul>
    <br class="spacer24" >
    <h2>Professional Associations</h2>
    <br class="spacer10" >
    <ul>
      <li>Association for Computing Machinery</li>
      <li>AIGA (American Institute for Graphic Arts)</li>
      <li>Society of Children's Book Authors and Illustrators</li>
    </ul>
  </div>
</div>